@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

@keyframe x-scale {
  from {
    transform: scaleX(0);
    opacity: 1;
  }
  to {
    transform: scaleX(1);
    opacity: 1;
  }
}

body {
  font-family: Josefin Sans;
  background-image: linear-gradient(#9e10eb, #58148f);
  color: white;
  animation: x-scale 0.75s;
}

a {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  transition-duration: 0.5s;
  color: white;
  text-decoration: none;
  animation: x-scale 0.75s;
}

a:hover {
  transform: scale(1.25);
  letter-spacing: .2em;
}
